* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
}

.rectangle1 {
  display: flex;
  height: 65px;
  width: 300px;
  background-color: #4c74af;
  padding: 10px;
  box-shadow: 0 0 8px 0 rgba(94, 94, 94, 0.2);
  position: relative;
}

.rectangle2 {
  display: flex;
  height: 600px;
  width: 300px;
  margin-top: 84px;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 0 8px 0 rgba(94, 94, 94, 0.2);
  position: absolute;
  z-index: +10;
}

.LoginCreds {
  font-family: Arial;
  font-size: medium;
  margin-top: 15px;
}

.provcreds {
  margin-top: 10px;
}

.profpic {
  height: 60px;
  width: 60px;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  margin-top: 3px;
}

.head {
  margin-top: 3px;
  margin-left: 70px;
  font-family: Arial;
  color: white;
}

.head2 {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  font-family: Arial;
  color: #4c74af;
  align-items: space-evenly;
  row-gap: 10px;
}

.dash {
  display: flex;
  margin-left: 5px;
  flex-direction: column;
  align-items: space-evenly;
  row-gap: 15px;
}

.dashburd {
  padding-left: 15px;
  font-size: 13px;
}

.signin1 {
  font-size: 15px;
}

#rec_his {
  padding-top: 10px;
}

.signin2 {
  font-size: 15px;
  padding-top: 15px;
}

#profile {
  padding-top: 25px;
}

.head > .provcreds {
  font-size: 13px;
}

.divider1 {
  height: 2px;
  width: auto;
  background-color: white; /* Add white background color */
  margin-top: 15px; /* Adjust as needed */
}

.divider2 {
  position: absolute;
  margin-top: 375px;
  height: 0.7px;
  width: 295px;
  background-color: #4c74af; /* Add white background color */
}

.divider3 {
  position: absolute;
  margin-top: 500px;
  height: 0.7px;
  width: 295px;
  background-color: #4c74af; /* Add white background color */
}

.logout {
  margin-top: 10px;
}

.logout a {
  color: #4c74af;
  text-decoration: none;
}

.tabContent {
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
}

.tabContent thead tr th {
  background-color: #4c74af;
  color: #ffffff;
}

.tableHeader {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-left: 320px;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 65px;
  width: 77.4%;
  padding: 10px;
  background-color: white;
}

.patientList {
  font-family: Arial;
}

table {
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
  width: 98.2%;
  border-collapse: collapse;
}

th,
td {
  font-family: Arial;
  text-align: left;
  border: none;
  background-color: #ffffff;
  padding: 12px 15px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody,
tr {
  border-bottom: 1px solid #a7b2c5;
}

tbody,
tr:nth-of-type(even) {
  background-color: #4c74af;
}

tbody,
tr:last-of-type {
  border-bottom: 2px solid #4469a0;
}

td:last-child {
  border-right: none;
}

.search {
  padding-left: -500px;
}

.searchTerm {
  width: 100%;
  border: 1px solid #ffffff;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 350px;
  position: absolute;
  margin-top: 120px;
  margin-left: 185px;
  transform: translate(-50%, -50%);
  z-index: +10;
}

.button {
  height: 30px;
  margin-top: 105px;
  position: absolute;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-left: 825px;
  padding: 5px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

body {
  background-color: #cfdaee;
}

.tabs_form {
  width: 65%;
  padding-left: 75px;
  padding-top: 0px;
}

.dash button {
  background-color: inherit;
  padding-top: 10px;
  font-family: Arial;
  border: none;
  outline: none;
  cursor: pointer;
  color: #4c74af;
  transition: 0.3s;
  align-items: space-evenly;
  row-gap: 10px;
}

.dash button:hover {
  text-decoration: underline;
}

.tabContent {
  display: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
