@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); 

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #cfdaee;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
}

.patient {
  height: 100vh;
  width: 405px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(94, 94, 94, 0.2);
}

.nwa_info,
.asc_info,
.number_info {
  padding-top: 10px;
}

.asc,
.number {
  padding-top: 15px;
}

/* Information Head */

.icon img{
  width: 75px;
  background-color: #fff;
  padding: 13px;
  border-radius: 5px;
  margin-top: 18px;
  margin-left: 18px;
}

.info_head {
  display: flex;
  flex-direction: row;
  background-color: #4c74af;
  height: 135px;
  color: #fff;
}

.nw{
  margin-top: 55px;
  margin-left: 10px;
  padding-bottom: 50px;
}

.nw #name {
  font-size: 15px;
}

.nw #ward {
  font-size: 13px;
}

/* Information Body */

.ap {
  padding: 20px;
  padding-bottom: 10px;
}

.ascs {
  padding: 20px;
  padding-bottom: 10px;
}

.rbnum {
  padding: 20px;
  padding-bottom: 10px;
}

.hnum {
  padding: 20px;
  padding-bottom: 10px;
}

#age{
  padding: 0;
}

.info{
  font-size: x-large;
  font-weight: bold;
}

.ascs_label label{
  padding-left: 40px;
}

.ascs_info{
  padding-top: 3px;
}

.ascs_info #sex{
  padding-left: 43px;
}

.ascs_info #cs{
  padding-left: 45px;
}

.rbnum label{
  padding-left: 70px;
}

.rbnum #bn_label{
  padding-left: 125px;
}

#rn{
  padding-left: 0;
}

#rn_info{
  padding-left: 0px;
}


/* View & Edit Tabs */
.tabForms {
  width: 100%;

}

.header {
  width: 100%;
  text-align: center;
  background-color: #4c74af;
  font-size: x-large;
  color: #fff;
  font-weight: bold;
}

.tabs {
  overflow: hidden;
  /* font-family: monospace; */
  text-align: center;
  margin-top: 5%;
}

.tabs button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 125px;
  transition: 0.3s;
  font-size: larger;
}

.tabs button:hover {
  background-color: #fff;
  text-decoration: underline;
}

.tabs button:active {
  text-decoration: underline;
}

.tabContent {
  display: hidden;
  padding: 6px 12px;
  /* font-family: Arial; */
  text-align: center;
  margin-top: 5%;
  animation: fadeEffect 1s;
  /* border: 1px solid #ccc;
  border-top: none; */
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tabContent li {
  list-style: none;
  display: inline-block;
  margin-top: 5%;
}

.tabContent button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 75px;
  transition: 0.3s;
}

.tabContent img{
  width: 100px;
}

/* General Pop-up CSS*/

.popupMS label input {
  /* font-family: Arial; */
  padding-left: 20px;
}

.title h2 {
  text-align: center;
  /* font-family: Arial; */
  font-size: x-large;
  padding: 20px;
}

/* Pop-up for Monitoring Sheet */

.popupMS {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: #ffffff;
  border-radius: 6px;
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 30px 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-MS {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popupMS .submit {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popupMS .close {
  width: 8%;
  margin-top: 0px;
  padding: 8px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.dt_label #time{
  margin-left: 200px;
}

.dt_input #date{
  width: 200px;
}

.dt_input #time{
  margin-left: 33px;
  width: 200px;
}

.bppr_label #pr{
  margin-left: 125px;
}

.bppr_input #bp{
  width: 91px;
}

.bppr_input #pr{
  margin-left: 33px;
  width: 200px;
}

.rrtp_label #temp{
  margin-left: 118px;
}

.rrtp_input #rr{
  width: 200px;
}

.rrtp_input #temp{
  margin-left: 35px;
  width: 200px;
}

.msrm_label #remarks{
  margin-left: 135px;
}

.msrm_input #ms{
  width: 200px;
}

.msrm_input #rm{
  margin-left: 35px;
  width: 200px;
}


/* Pop-up for TPR sheet */

.popupTPR {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: #ffffff;
  border-radius: 6px;
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 30px 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-TPR {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popupTPR .submit {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popupTPR .close {
  width: 8%;
  margin-top: 0px;
  padding: 8px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* Pop-up for IO sheet */

.popupIO {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: #ffffff;
  border-radius: 6px;
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 30px 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-IO {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popupIO .submit {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popupIO .close {
  width: 8%;
  margin-top: 0px;
  padding: 8px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.io_header{
  font-weight: bold;
}

.io_header #intake{
  padding-left: 75px;
}

.io_header #output{
  padding-left: 190px;
}

.pu #prt{
  width: 120px;
}

.pu #urine {
  padding-left: 33px;
}

.pu #urn{
  width: 130px;
  margin-left: 25px;
}

.od #orl{
  margin-left: 43px;
  width: 121px;
}

.od #drainage{
  margin-left: 33px;
}

.od #drain{
  width: 130px;
}

.others #oth1{
  margin-left: 25px;
  width: 120px;
}

.others #others2{
  margin-left: 33px;
}

/* Pop-up for NN sheet */

.popupNN {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: #ffffff;
  border-radius: 6px;
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 30px 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-NN {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popupNN .submit {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popupNN .close {
  width: 8%;
  margin-top: 0px;
  padding: 8px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.nn_input{
  width: 443px;
}
