@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); 

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #cfdaee;
  font-family: "Roboto", sans-serif;
}

/* header{
  display: flex;
  font-family: Arial;
  font-size: medium;
  text-align: center; 
  background-color: #4c74af;
  padding-top: 1px;
} */

.container {
  display: flex;
}

.patient {
  height: 100vh;
  width: 300px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(94, 94, 94, 0.2);
  position: relative;
}

.information {
  padding-top: 25px;
}

.icon {
  align-content: center;
}

.icon img {
  width: 175px;
  margin-top: -50px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.nwa_info,
.asc_info,
.number_info {
  padding-top: 10px;
}

.asc,
.number {
  padding-top: 15px;
}

/* Label for information */

/* .nwa label{
  padding-left: 350px;
  font-family: Arial;
  font-weight: lighter;
}

.asc label{
  padding-left: 350px;
  font-family: Arial;
  font-weight: lighter;
}

.number label{
  padding-left: 240px;
  font-family: Arial;
  font-weight: lighter;
}

#name{
  padding-left: 0px;
}

#ap{
  padding-left: 275px;
}

#age{
  padding-left: 0px;
}

#sex{
  padding-left: 365px;
}

#cs{
  padding-left: 285px;
}

#rbn{
  padding-left: 0px;
} */

/* Information */

.info_head {
  margin-top: 45px;
  margin-left: 120px;
  /* font-family: Arial; */
  background-color: #4c74af;
}

.info_head > .name {
  font-size: 15px;
}

.info_head > .ward {
  font-size: 13px;
}

/* .asc_info label{
  font-family: Arial;
  font-weight: bolder;
  font-size: xx-large;
}

.number_info label{
  font-family: Arial;
  font-weight: bolder;
  font-size: xx-large;
}

#name_info{
  padding-left: 65px;
}

#ward_info{
  padding-left: 135px;
}

#ap_info{
  padding-left: 250px;
}

#age_info{
  padding-left: 65px;
}

#sex_info{
  padding-left: 355px;
}

#cs_info{
  padding-left: 235px;
}

#rbn_info{
  padding-left: 65px;
}

#hn_info{
  padding-left: 325px;
} */

/* View & Edit Tabs */
.tabForms {
  width: 1250px;
}

.tabs {
  overflow: hidden;
  /* font-family: monospace; */
  text-align: center;
  margin-top: 3%;
}

.tabs button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 125px;
  transition: 0.3s;
  font-size: larger;
}

.tabs button:hover {
  background-color: #fff;
}

.tabs button:active {
  background-color: #815c5c;
  text-decoration: underline;
}

.tabContent {
  display: hidden;
  padding: 6px 12px;
  /* font-family: Arial; */
  text-align: center;
  /* border: 1px solid #ccc;
  border-top: none; */
}

.tabContent li {
  list-style: none;
  display: inline-block;
  padding: 0 15px;
  padding-top: 20px;
}

.tabContent button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 75px;
  transition: 0.3s;
}

/* Pop-up */

.popupMS label {
  /* font-family: Arial; */
  padding-left: 20px;
}

.title {
  text-align: center;
  /* font-family: Arial; */
  font-size: larger;
  padding: 20px;
}

/* Pop-up for Monitoring Sheet */

.popupMS {
  display: flex;
  flex-direction: column;
  width: 700px;
  background: #ffffff;
  border-radius: 6px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-MS {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popupMS .submit {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popupMS .close {
  width: 8%;
  margin-top: 0px;
  padding: 8px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* Pop-up for TPR sheet */

.popupTPR {
  display: flex;
  flex-direction: column;
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-TPR {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popupTPR .submit {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popupTPR .close {
  width: 10%;
  margin-top: 0px;
  padding: 6px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  align-self: self-start;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* Pop-up for IO sheet */

.popupIO {
  display: flex;
  flex-direction: column;
  width: 600px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-IO {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popupIO .submit {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popupIO .close {
  width: 10%;
  margin-top: 0px;
  padding: 10px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* Pop-up for NN sheet */

.popupNN {
  display: flex;
  flex-direction: column;
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-NN {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popupNN .submit {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popupNN .close {
  width: 10%;
  margin-top: 0px;
  padding: 10px 0;
  background: #4c74af;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
